@import 'tailwindcss';

@layer components {
  .social-btn {
    @apply border-2 border p-2 border-black rounded-lg flex items-center justify-center hover:-translate-y-1 duration-100 ease-in-out;
  }
}
