---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'

import Github from 'phosphor-astro/GithubLogoFill.astro'
import LinkedIn from 'phosphor-astro/LinkedinLogoFill.astro'
import Email from 'phosphor-astro/EnvelopeSimple.astro'

import PROFILE from '../assets/me.jpeg'
import Arena from '../assets/arena.svg'

import { getImage } from 'astro:assets'

const OPTIMIZED_PROFILE = await getImage({
  src: PROFILE,
  format: 'webp',
  width: 1073,
  height: 1073,
})
---

<Layout>
  <div class="h-screen w-full overflow-x-hidden overflow-y-auto flex items-center justify-center">
    <div class="flex flex-col mx-auto items-center justify-center md:flex-row space-y-2 md:space-y-0 md:space-x-4">
      <div class="aspect-square size-30 rounded-lg overflow-hidden hover:rounded-full transition-all duration-100">
        <Image
          class="select-none"
          alt="image of me"
          src={OPTIMIZED_PROFILE.src}
          width={OPTIMIZED_PROFILE.attributes.width}
          height={OPTIMIZED_PROFILE.attributes.height}
        />
      </div>

      <div class="space-y-2 flex flex-col items-center justify-center md:justify-start">
        <h1 class="font-bold text-2xl">Harmanjeet Singh Sahota</h1>

        <p>Building cool things for cool people</p>

        <div class="flex flex-row gap-1">
          <a href="https://www.github.com/Savy011" target="_blank" class="social-btn rounded-l-3xl pl-3 hover:pl-2 hover:ml-1">
            <Github class="fill-charcoal size-8" />
          </a>
          <a href="https://www.are.na/harman-sahota/channels" target="_blank" class="social-btn">
            <Arena class="fill-charcoal size-8" />
          </a>
          <a href="https://www.linkedin.com/in/harmanjeet-singh-sahota-336b0128a/" target="_blank" class="social-btn">
            <LinkedIn class="fill-charcoal size-8" />
          </a>
          <a href="mailto:savy.novachez011@proton.me" target="_blank" class="social-btn rounded-r-3xl pr-3 hover:pr-2 hover:mr-1">
            <Email class="fill-charcoal size-8" />
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
