---
import Layout from '$layouts/Layout.astro'

import Photo from '$components/my-photo.astro'
import NameHeading from '$components/name-heading.astro'
import Subtitle from '$components/subtitle.astro'
import Elsewhere from '$components/elsewhere.astro'
---

<Layout>
  <div class="w-full h-screen flex items-center justify-center">
    <div class="grid grid-cols-3 border-2 rounded-md border-collapse border-bittersweet w-fit bg-persian-red/40">
    <Photo />
    <div class="col-span-2 border-l-2 border-bittersweet">
      <NameHeading />
      <Subtitle />
      <Elsewhere />
    </div>
    </div>
  </div>
</Layout>
