---
import Github from 'phosphor-astro/GithubLogoFill.astro'
import LinkedIn from 'phosphor-astro/LinkedinLogoFill.astro'
import Email from 'phosphor-astro/EnvelopeSimple.astro'
import Arena from '$assets/arena.svg'
---

<div class="flex flex-row gap-0.5 w-full items-center justify-center">
  <a href="https://www.github.com/Savy011" target="_blank" class="social-btn rounded-l-full pl-3 hover:pl-2 hover:ml-1">
    <Github class="fill-charcoal size-8" />
  </a>
  <a href="https://www.are.na/harman-sahota/channels" target="_blank" class="social-btn">
    <Arena class="fill-charcoal size-8" />
  </a>
  <a
    href="https://www.linkedin.com/in/harmanjeet-singh-sahota-336b0128a/"
    target="_blank"
    class="social-btn rounded-r-full pr-3 hover:pr-2 hover:mr-1"
  >
    <LinkedIn class="fill-charcoal size-8" />
  </a>
</div>
