---
import { Font } from 'astro:assets'

import '$styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#EAF4D3" />

    <title>Harmanjeet Singh Sahota</title>

    <meta name="description" content="Building cool things for cool people" />

    <meta property="og:title" content="Harmanjeet Singh Sahota" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Building cool things for cool people" />

    <meta name="darkreader-lock" />
    <Font cssVariable="--font-archivo-narrow" preload />
  </head>
  <body class="bg-nyanza text-charcoal selection:bg-charcoal selection:text-nyanza">
    <slot />
  </body>
</html>

<style>
  :root {
    --bg-size: 400px;
  }

  body {
    background-image: var(--bg-flowers);
    background-size: var(--bg-size) var(--bg-size);
    background-repeat: repeat;
    animation: pan-bg linear 24s infinite;
  }
</style>
